* {
    box-sizing: border-box;
}

/* * { 
    margin:0;
    padding:0;
} */

html {
    height: 100vh;
}

body {
    font-size: inherit;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: lightslategray;
}

header {
    background-color: lightslategray;
    color: black;
    padding-top: 14px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    font-size: inherit;
    width: 100%;
}

nav {
    font-size: 1.5em;

}

main {
    padding-top: 20px;
    background-color: lightslategray;
    padding-bottom: 30px;
}

section {
    display: flex;
}

section#about-me {
    flex-direction: row;
    flex-wrap: nowrap;
}

section#about-me .photo {
    width: 300px;
}

section#about-me .bio {
    padding-left: 70px;
    font-size: inherit;
    padding-right: 50px;
}

section#my-projects {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

section#my-projects #cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section#my-projects #cards>div {
    width: 200px;
    box-shadow: 0 4px 8px 0 black;
}

section#my-projects #cards div.smaller {
    height: 240px;
}

section#my-projects #cards div .container {
    text-align: center;
    padding: 10px;
    min-height: 40px;
}

section#my-projects #cards div.smaller .container {}

section#my-projects #cards>div:hover {
    box-shadow: 0 8px 16px 0 black;
}

footer {
    width: 100%;
    height: 100px;
    background-color: lightslategray;
    background-color: purple;
    font-size: 15px;
    text-align: center;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: inherit;
    padding-top: 8px;

}

li {
    padding-right: 20px;

}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    font-size: inherit;

}

h1 {
    text-align: left;
    font-weight: 700;
    padding-left: 15px;
    font-size: 30px;
}

h2 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
}

/* @media screen and (max-width: 992px) {
    #cards {
        flex-direction: column;
        align-items: center;

    }

    .photo {
  
    }

    .header {
        flex-direction: column;
    }

    .row2 {
        font-size: inherit;
    }

    * {
        font-size: inherit;
    }
} */


/* @media screen and (max-width: 768px) {

    section#about-me {
        flex-wrap: wrap;
    }

    #cards {
        flex-direction: column;
        align-items: center;

    }

    .card {
        flex-basis: 100%;
        align-items: center;
    }

    .header {
        flex-direction: column;
    }

    .row2 {
        font-size: 100%;
    }

    * {
        font-size: inherit;
    }
} */

@media screen and (max-width: 576px) {
    section#about-me {
        flex-wrap: wrap;
    }

    section#about-me .photo {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    section#about-me .bio {
        width: 100%;
    }

    section#my-projects #cards {
        flex-direction: column;
        align-items: center;
    }
}