section{
    height: 500px;
    background-color: beige;
   
}

.header{
    background-color: bisque;
    height: 75px;
    color: black;
    /*display: flex;
    list-style-type: none;
    width: 1320px;
    justify-content: space-around;
    justify-content: space-between;
    font-size: 15px;
    position: fixed;*/
   
}

nav, ul {
    display: flex;
    justify-content: space-between;
    position: fixed;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    
}

li{
    width: 200px;
}

h1 {
    text-align: left;
    line-height: 70px;
    font-weight: 700;
}

footer{
    height:500px;
    background-color: blanchedalmond;
}

/* @media screen (max-width: 992px);
@media screen (max-width: 768px);
@media screen (max-width: 576px); */